<h1>Search friends: </h1>

<div id="friend-lookup">
	<%= form_tag "/users/search_friend", remote: true, method: :get, id: "friend-lookup-form" do %>
		<div class="form-group row no-padding text-center col-md-12">
			<div class="col-md-10">
				<%= text_field_tag :friend_email, params[:friend_email], placeholder: "Email of Friend", autofocus: true, class: "form-control search-box input-lg" %>
			</div>
			<div class="col-md-2">
				<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do%>
					<i class="fa fa-search"></i> Search
				<% end %>
			</div>
		</div>			
	<% end %>
</div>
<div id="results">
  <%= render "result" %>
</div>